#footer
  .row-fluid.links
    .span12
      %a(href="index.html") Inicio
      &middot;
      %a(href="tour.html") Producto
      &middot;
      %a(href="prices.html") Precios
      &middot;
      %a(href="team.html") Nosotros
  .row-fluid
    .span6
      %i= link_to "bonsaiERP", "/"
      El software para la gestión de empresas.
      %br
      Copyright © 2011-2012 bonsaierp.com, Inc.

    .span4
      %label(style="margin-bottom: 0px") Escribanos a:
      %h3.n= mail_to "contacto@bonsaierp.com"
    .span2
      = link_to "http://twitter.com/#!/bonsaierp" do
        = image_tag "twitter.png", :title => "Twitter", :alt => "Twitter"

      = link_to "http://www.facebook.com/pages/BonsaiERP/337187402983197" do
        = image_tag "facebook.png", :title => "Facebook", :alt => "Facebook"
