#header
  =link_to image_tag("logo.png"), "/index.html", :id => "logo", :class => 'but'

  %ul#menu
    %li= link_to "Inicio", "index.html", :class => selected_menu("index.html")
    %li= link_to "Producto", "tour.html", :class => selected_menu("tour.html")
    %li= link_to "Precios", "prices.html", :class => selected_menu("prices.html")
    %li= link_to "Nosotros", "team.html", :class => selected_menu("team.html")
    -#%li= link_to "Contacto", "contact.html", :class => selected_menu("contact.html")

  = link_to "Ingresar", "http://app.bonsaierp.com", :id => "login", :class => "btn btn-success b"
