!!!
%html
  %head
    %meta{ 'http-equiv'  => "content-type", :content => "text/html;charset=UTF-8" }
    %link{:rel => "shortcut icon", :href => "/assets/favicon.ico", :type => "image/x-icon"}
    %title
      bonsaiERP - Sistema ERP online - 
      
      = yield_content :title

    %link{ :href => 'http://fonts.googleapis.com/css?family=Muli', :rel => 'stylesheet', :type => 'text/css'}

    = stylesheet_link_tag "home"
    = javascript_include_tag "jquery-1.7.1.min.js", "jquery-ui-dialog.min", "twitter-bootstrap/bootstrap-tooltip", "plugins/bcarousel", "homebase"

    :javascript
      WebFontConfig = {
        google: { families: [ 'Muli' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-203928-7']);
      _gaq.push(['_trackPageview']);

      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #wrapper.container
      = partial "header"
      = yield
    .footer
      .container
        = partial "footer"
